{{ form_start(form, {'attr': {'class': 'crud-prefix-form'}}) }}
    {% for field in form %}
        <div class="crud-prefix-form-group">
            {{ form_label(field, null, {'label_attr': {'class': 'crud-prefix-form-label'}}) }}

            {% if field.vars.name == 'votingCode' %}
                <div class="input-group mb-3">
                    {{ form_widget(field, {'attr': {'class': 'crud-prefix-form-input'}}) }}
                    <button type="button" class="crud-prefix-btn" id="generate-code-btn">
                        <i class="fas fa-key"></i> Générer un code
                    </button>
                </div>
            {% else %}
                {{ form_widget(field, {'attr': {'class': 'crud-prefix-form-input'}}) }}
            {% endif %}

            {{ form_errors(field) }}
        </div>
    {% endfor %}
    <button class="crud-prefix-form-submit">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
